<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/asset/favicon-black.png" type="image/x-icon">
    <link rel="icon" href="/asset/favicon-black.png" type="image/x-icon">
    <!------------ JavaScript Libraries ------------>
    <script type="text/javascript" src="/js/libraries/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/libraries/opencv.js"></script>
    <script type="text/javascript" src="/js/libraries/three.js"></script>
    <script type="text/javascript" src="/js/libraries/ami.min.js"></script>
    <script type="text/javascript" src="/js/libraries/TrackballControls.js"></script>
    <script type="text/javascript" src="/js/libraries/xtk.js"></script>
    <script type="text/javascript" src="/js/libraries/itk.js"></script>
    <script type="text/javascript" src="/js/libraries/jpx.min.js"></script>
    <!------------ Cornerstone JavaScript ------------>
    <script type="text/javascript" src="/js/cornerstone/cornerstone.min.js"></script>
    <script type="text/javascript" src="/js/cornerstone/cornerstoneFileImageLoader.js"></script>
    <script type="text/javascript" src="/js/cornerstone/cornerstoneWADOImageLoader.min.js"></script>
    <script type="text/javascript" src="/js/cornerstone/dicomParser.min.js"></script>
    <!------------ UI JavaScript ------------>
    <script type="text/javascript" src="/js/ui/materialize.js"></script>
    <script type="text/javascript" src="/js/ui/stats.js"></script>
    <script type="text/javascript" src="/js/ui/jscolor.js"></script>
    <script type="text/javascript" src="/js/ui/slick.min.js"></script>
    <script type="text/javascript" src="/js/ui/fpsmeter.min.js"></script>
    <!------------ Core JavaScript ------------>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/raycasting.js"></script>
    <script type="text/javascript" src="/js/pointcloud.js"></script>
    <script type="text/javascript" src="/js/marchingCube.bundle.js"></script>
    <!------------ UI CSS ------------>
    <link type='text/css' rel='stylesheet' href='/css/slick.css' />
    <link type='text/css' rel='stylesheet' href='/css/animate.css' />
    <link type='text/css' rel='stylesheet' href='/css/materialize.min.css' />
    <link type='text/css' rel='stylesheet' href='/css/style.css' />
    <title>DiRea - Medical Image Processing Tool</title>
</head>

<body>
    <div class="upload-area">
        <div class="files-container">
            <div class="wrong-noti"></div>
            <div class="files-list">
                <div class="lds-hourglass in-files-container"></div>
                <div class="handle-buttons">
                    <div class="choose-files">Select your files</div>
                    <div class="upload-cancel">Cancel</div>
                </div>
                <table class="files-table">
                    <thead>
                        <tr>
                            <th colspan="8">Your files will be listed here</th>
                        </tr>
                        <tr>
                            <th colspan="1">#</th>
                            <th colspan="6">Name</th>
                            <th colspan="1" style="text-align:center;">Format</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="rendering-algorithm">
                <div class="button-overlay"></div>
                <div class="algorithm-button marching-cube">Marching Cube</div>
                <div class="algorithm-button ray-casting">Ray Casting</div>
                <div class="algorithm-button texture-based">Texture-based</div>
                <div class="algorithm-button point-cloud">Sinh's Method</div>
                <div class="algorithm-button slice-only">Slice Mode</div>
            </div>
        </div>
    </div>
    <div class="upload-overlay"></div>
    <div class="navigation-bar">
        <div class="container">
            <div class="logo-container">
                <a class="logo" href="#">
                    <img src="/asset/logo-white.svg" alt="logo">
                </a>
            </div>
            <div class="menu-items">
                <div class="item"><a href="#"><span>DIREA</span></a></div>
                <div class="item"><a href="#"><span>Support</span></a></div>
                <div class="item"><a href="#"><span>Resources</span></a></div>
                <div class="item"><a href="#"><span>About</span></a></div>
            </div>
        </div>
    </div>
    <div class="main-site">
        <div class="introduction">
            <div class="brand-title">
                <div class="brand-overlay"></div>
                <div class="title">DICOM READER</div>
                <div class="description">The world famous medical images viewer</div>
                <img style="display: none;" class="brand-devices" src="/asset/devices.png" alt="devices">
            </div>
            <div class="brand-content">
                With high performance and an intuitive interactive user interface, DiRea is the most widely used DICOM viewer in the world. It is the result of more than 15 years of research and development in digital imaging. It fully supports the DICOM standard for
                an easy integration in your workflow environment and an open platform for development of processing tools. It offers advanced post-processing techniques in 2D and 3D, exclusive innovative technique for 3D and 4D navigation and a complete
                integration with any PACS.
            </div>
            <div class="browser">
                <div class="title">Cross-browser compatibility</div>
                <div class="browsers-container">
                    <img class="logo" src="/asset/chrome.svg" alt="chrome">
                    <img class="logo" src="/asset/mozilla.svg" alt="firefox">
                    <img class="logo" src="/asset/safari.svg" alt="safari">
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="upload-container">
                <div class="title">Try DiRea now</div>
                <div class="upload-button">Upload</div>
                <input id="file_inp" type="file" multiple />
            </div>
            <div class="copyright">2019 © Truong Le</div>
            <div class="slider-overlay"></div>
            <div class="slider">
                <div class="slider-item" style="background-image:url('/asset/slider-4.jpg')">
                </div>
                <div class="slider-item" style="background-image:url('/asset/slider-5.jpg')">
                </div>
                <div class="slider-item" style="background-image:url('/asset/slider-6.jpg')">
                </div>
            </div>
        </div>
    </div>
    <div class="viewer">
        <div id="screenshot-container" class="modal">
            <div class="modal-header">
                <div>Save Screenshot</div>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col s6">
                        <div class="image-holder"></div>
                        <div class="final-name">Your-Image.PNG</div>
                    </div>
                    <div class="col s6">
                        <div class="input-field col s7">
                            <input placeholder="Filename" id="filename" type="text" class="validate" value="Your-Image">
                            <label for="filename">Filename</label>
                        </div>
                        <div class="input-field col s5">
                            <select class="format-option">
                                <option value="png" selected>PNG</option>
                                <option value="jpeg">JPEG</option>
                            </select>
                            <label>Materialize Select</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#" download="Your-Image.png" class="waves-effect waves-light blue accent-3 btn save-button">Download</a>
            </div>
        </div>
        <div class="viewer-container">
            <div class="interact-container">
                <div class="logo">
                    <img src="/asset/logo.svg" alt="logo">
                </div>
                <div class="brand">
                    <div class="title">DIREA</div>
                    <div class="description">DICOM Reader</div>
                </div>
                <div class="re-render">
                    <div class="col">
                        <select class="switch-algorithm">
                            <option value="" disabled selected>Choose algorithm</option>
                            <option value="marchingCube">Marching Cube</option>
                            <option value="rayCasting">Ray Casting</option>
                            <option value="textureBased">Texture-based</option>
                            <option value="textureBased">Point Cloud</option>
                        </select>
                    </div>
                    <a class="waves-effect waves-light blue accent-3 btn re-render-button disabled">Render</a>
                    <a class="waves-effect waves-light blue accent-3 btn mb-switch">Render</a>
                    <a class="waves-effect waves-light blue accent-3 btn mb-interactor-disable"></a>
                </div>
            </div>
            <div class="control-buttons">

            </div>
            <div class="render-container">
                <div id="my-gui-container"></div>
                <a href="# " id="screenshot" download="VJS.png">Take screenshot</a>
                <div class="files-bar">
                    <div class="tab-container">
                        <div class="tab-title">
                            <button class="tab datasets ripple">Datasets</button>
                            <button class="tab global ripple">Global</button>
                            <div class="line left"></div>
                        </div>
                        <div class="settings">
                            <div class="datasets-setting">
                                <div class="file-interact">
                                    <i class="material-icons visible">visibility</i>
                                    <span class="algorithm-name"></span>
                                    <div class="button-container">
                                        <div class="slice-list modal-trigger" href="#modal1">List</div>
                                    </div>
                                </div>
                                <div class="representation setting">
                                    <div class="title">
                                        <i class="material-icons">brightness_medium</i>
                                        <span class="name">Representation</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="input-field col s12 ray-algorithm">
                                                <select>
                                                    <option value="" disabled selected>Choose your option</option>
                                                    <option value="0" selected>Ray Casting</option>
                                                    <option value="1">MIP</option>
                                                </select>
                                                <label>Algorithm</label>
                                            </div>
                                        </div>
                                        <div class="attribute-config sinh-setting hidden">
                                            <div class="attribute">Point's size</div>
                                            <a class="waves-effect waves-light btn size-decrease blue accent-3"><i class="material-icons">remove</i></a>
                                            <a class="waves-effect waves-light btn size-increase blue accent-3"><i class="material-icons">add</i></a>
                                        </div>
                                        <div class="attribute-config marching-cube-setting hidden">
                                            <div class="attribute">ISO Value</div>
                                            <input class="isoValue" type="range" min="0" max="100" step="0.05" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="input-field col s12 texturebased-algorithm">
                                                <select>
                                                      <option value="" disabled selected>Choose your option</option>
                                                      <option value="true" selected>3D Mode</option>
                                                      <option value="false">2D Mode</option>
                                                    </select>
                                                <label>Mode</label>
                                            </div>
                                        </div>
                                        <div class="attribute-title texture-setting hidden">
                                            Opacity & Threshold
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="attribute">Opacity</div>
                                            <input class="texture-opacity" type="range" step="0.001" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="attribute">Lower Threshold</div>
                                            <input class="texture-lower-threshold" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="attribute">Upper Threshold</div>
                                            <input class="texture-upper-threshold" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="colors setting">
                                    <div class="title">
                                        <i class="material-icons">color_lens</i>
                                        <span class="name">Colors</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-config marching-cube-setting hidden" style="padding-right:20px;">
                                            <div class="vtk-color">
                                                <input class="vtk-color-picker jscolor {onFineChange:'vtkColorPicker(this)'}" value="000000">
                                                <a class="btn waves-effect waves-light blue vtk-color-button">Apply</a>
                                            </div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="texture-min-color">
                                                <span class="color-min-title">Min Color:</span>
                                                <input class="min-color-picker jscolor {onFineChange:'texturebasedUpdateMinColor(this)'} ripple" value="000000">
                                            </div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="texture-max-color">
                                                <span class="color-min-title">Max Color:</span>
                                                <input class="max-color-picker jscolor {onFineChange:'texturebasedUpdateMaxColor(this)'} ripple" value="ffffff">
                                            </div>
                                        </div>
                                        <div class="attribute-config sinh-setting hidden" style="padding-right:20px;">
                                            <div class="sinh-color">
                                                <input class="vtk-color-picker jscolor {onFineChange:'pointColorPicker(this)'}" value="000000">
                                                <a class="btn waves-effect waves-light blue accent-3 random-color-button">Random</a>
                                            </div>
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="input-field col s12 ray-lut">
                                                <select>
                                                  <option value="" disabled selected>Choose your option</option>
                                                </select>
                                                <label>LUT</label>
                                            </div>
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="input-field col s12 ray-opacity">
                                                <select>
                                                  <option value="" disabled selected>Choose your option</option>
                                                </select>
                                                <label>Opacity</label>
                                            </div>
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="ray-config">
                                                <label>
                                                    <input checked type="checkbox" class="filled-in ray-interpolation"/>
                                                    <span>Interpolation</span>
                                                </label>
                                                <label>
                                                    <input checked type="checkbox" class="filled-in ray-shading"/>
                                                    <span>Shading</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="attribute-title ray-setting hidden">
                                            Steps // Alpha // Shininess
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="attribute">Steps</div>
                                            <input class="ray-steps" type="range" min="0" max="512" step="1" value="128">
                                            <div class="value">128</div>
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="attribute">Alpha Correction</div>
                                            <input class="ray-alpha" type="range" min="0" max="1" step="0.01" value="0.5">
                                            <div class="value">0.5</div>
                                        </div>
                                        <div class="attribute-config ray-setting hidden">
                                            <div class="attribute">Shininess</div>
                                            <input class="ray-shininess" type="range" min="0" max="20" step="0.1" value="10">
                                            <div class="value">10</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slices setting">
                                    <div class="title">
                                        <i class="material-icons">tune</i>
                                        <span class="name">Slices</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-title texture-setting hidden">
                                            Window
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="attribute">Window Low</div>
                                            <input class="texture-window-low" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config texture-setting hidden">
                                            <div class="attribute">Window High</div>
                                            <input class="texture-window-high" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-title">
                                            Slices
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>X</div>
                                            </div>
                                            <input class="slice-change index-x" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>Y</div>
                                            </div>
                                            <input class="slice-change index-y" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>Z</div>
                                            </div>
                                            <input class="slice-change index-z" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="sliders hidden">
                                    <div><a class="subheader">Main viewer</a></div>
                                    <div>
                                        <div class="slider-option">
                                            <p>
                                                <label>
                                                                <input class="with-gap" name="upper_slide" type="radio" value="1" checked />
                                                                <span>1</span>
                                                            </label>
                                            </p>
                                            <p>
                                                <label>
                                                                <input class="with-gap" name="upper_slide" type="radio" value="2"/>
                                                                <span>2</span>
                                                            </label>
                                            </p>
                                            <p>
                                                <label>
                                                                <input class="with-gap" name="upper_slide" type="radio" value="3" />
                                                                <span>3</span>
                                                            </label>
                                            </p>
                                        </div>
                                    </div>


                                    <div>
                                        <div class="divider"></div>
                                    </div>

                                    <div><a class="subheader">Navigator</a></div>
                                    <div>
                                        <div class="slider-nav-option">
                                            <p>
                                                <label>
                                                            <input class="with-gap" name="lower_slide" type="radio" value="5" checked />
                                                            <span>5</span>
                                                        </label>
                                            </p>
                                            <p>
                                                <label>
                                                            <input class="with-gap" name="lower_slide" value="6" type="radio" />
                                                            <span>6</span>
                                                        </label>
                                            </p>
                                            <p>
                                                <label>
                                                            <input class="with-gap" name="lower_slide" value="7" type="radio"  />
                                                            <span>7</span>
                                                        </label>
                                            </p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="divider"></div>
                                    </div>
                                    <div><a class="subheader">Other settings</a></div>
                                    <div>
                                        <div class="switch slice-mode-other">
                                            <span>Autoplay</span>
                                            <label class="right">
                                                  Off
                                                  <input type="checkbox" class="auto-play">
                                                  <span class="lever"></span>
                                                  On
                                                </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="switch slice-mode-other">
                                            <span>Draggable</span>
                                            <label class="right">
                                                  Off
                                                  <input type="checkbox" class="draggable">
                                                  <span class="lever"></span>
                                                  On
                                                </label>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="slice-apply waves-effect waves-light blue accent-3 btn slice-setting">Apply</a>
                                    </div>
                                </div>
                                <div class="render-info setting">
                                    <div class="title">
                                        <i class="material-icons">add_a_photo</i>
                                        <span class="name">Screenshot</span>
                                    </div>
                                    <div class="attribute-config ray-setting">
                                        <div class="input-field col s12 take-screenshot">
                                            <select class="screenshot-option">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="3d">3D -  Volume</option>
                                                <option value="sliceX">2D - X-AXIS</option>
                                                <option value="sliceY">2D - Y-AXIS</option>
                                                <option value="sliceZ">2D - Z-AXIS</option>
                                            </select>
                                        </div>
                                        <a href="#screenshot-container" class="waves-effect waves-light blue accent-3 btn modal-trigger screenshot-open disabled">Save</a>
                                    </div>
                                </div>
                                <div class="render-info setting" style="margin-bottom: 80px;">
                                    <div class="title">
                                        <i class="material-icons">equalizer</i>
                                        <span class="name">Performance Monitor</span>
                                    </div>
                                    <div class="monitor-container"></div>
                                </div>
                            </div>
                            <div class="global-setting">
                                <div class="representation setting">
                                    <div class="title">
                                        <span class="name">Background</span>
                                    </div>
                                    <div class="color-picker">
                                        <div class="color original" color="original"><i class="material-icons">check</i></div>
                                        <div class="color moonlit-asteroid" color="moonlit-asteroid"><i class="material-icons">check</i></div>
                                        <div class="color grade-grey" color="grade-grey"><i class="material-icons">check</i></div>
                                        <div class="color red-sunset" color="red-sunset"><i class="material-icons">check</i></div>
                                        <div class="color lawrencium" color="lawrencium"><i class="material-icons">check</i></div>
                                        <div class="color celestial" color="celestial"><i class="material-icons">check</i></div>
                                        <div class="color royal" color="royal"><i class="material-icons">check</i></div>
                                        <div class="color frost" color="frost"><i class="material-icons">check</i></div>
                                        <div class="color titanium" color="titanium"><i class="material-icons">check</i></div>
                                    </div>
                                </div>
                                <div class="colors setting">
                                    <div class="title">
                                        <span class="name">Overlay</span>
                                    </div>
                                    <div class="opacity">
                                        <div class="opacity-title">
                                            Text Opacity
                                        </div>
                                        <input type="range" min="0" max="100" step="1" value="0">
                                    </div>
                                </div>
                                <div class="slices setting">
                                    <div class="title">
                                        <span class="name">Orientation Axis</span>
                                    </div>
                                </div>
                                <div class="render-info setting">
                                    <div class="title">
                                        <i class="material-icons">info</i>
                                        <span class="name">Information</span>
                                        <i class="material-icons drop-down">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas-container">
                    <div class="loading-render grey lighten-3">
                        <div class="lds-hourglass loading-canvas"></div>
                    </div>
                    <div id="3d" class="three-dimemsion">
                        <div class="title">3D</div>
                        <div id="my-lut-container" style="display:none;">
                            <div id="my-lut-min">0.0</div>
                            <div id="my-lut-canvases"></div>
                            <div id="my-lut-max">1.0</div>
                        </div>
                    </div>
                    <div class="twoD-container">
                        <div id="sliceX" class="two-dimemsion">
                            <div class="title ">X-axis</div>
                        </div>
                        <div id="sliceY" class="two-dimemsion">
                            <div class="title ">Y-axis</div>
                        </div>
                        <div id="sliceZ" class="two-dimemsion">
                            <div class="title ">Z-axis</div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="slice-slider hidden"></div>
                        <div class="slice-slider-nav-container hidden">
                            <i class="material-icons slider-control left">keyboard_arrow_left</i>
                            <div class="slice-slider-nav  darken-3 z-depth-3 hidden"></div>
                            <i class="material-icons slider-control right">keyboard_arrow_right</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>