<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/asset/favicon-black.png" type="image/x-icon">
    <link rel="icon" href="/asset/favicon-black.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.2/dat.gui.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <link type='text/css' rel='stylesheet' href='/css/style.css' />
    <link type='text/css' rel='stylesheet' href='/css/slick.css' />
    <link type='text/css' rel='stylesheet' href='/css/animate.css' />
    <script type="text/javascript" src="/js/three.js"></script>
    <script type="text/javascript" src="/js/ami.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/mrdoob/stats.js/master/build/stats.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/xtk.js"></script>
    <script type="text/javascript" src="/js/jscolor.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/cornerstone.min.js"></script>
    <script type="text/javascript" src="/js/cornerstoneFileImageLoader.js"></script>
    <script type="text/javascript" src="/js/cornerstoneWADOImageLoader.min.js"></script>
    <script type="text/javascript" src="/js/dicomParser.min.js"></script>
    <script type="text/javascript" src="/js/jpx.min.js"></script>
    <script type="text/javascript" src="/js/raycasting.js"></script>
    <script type="text/javascript" src="/js/ray2D.js"></script>
    <script type="text/javascript" src="/js/marchingCube.bundle.js"></script>
    <title>DiRea - Medical Image Processing Tool</title>
</head>

<body>
    <div class="upload-area">
        <div class="files-container">
            <div class="wrong-noti"></div>
            <div class="files-list">
                <div class="lds-hourglass in-files-container"></div>
                <div class="handle-buttons">
                    <div class="choose-files">Select your files</div>
                    <div class="upload-cancel">Cancel</div>
                </div>
                <table class="files-table">
                    <thead>
                        <tr>
                            <th colspan="8">Your files will be listed here</th>
                        </tr>
                        <tr>
                            <th colspan="1">#</th>
                            <th colspan="6">Name</th>
                            <th colspan="1" style="text-align:center;">Format</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="rendering-algorithm">
                <div class="button-overlay"></div>
                <div class="algorithm-button marching-cube">Marching Cube</div>
                <div class="algorithm-button ray-casting">Ray Casting</div>
                <div class="algorithm-button texture-based">Texture-based</div>
            </div>
            <div class="user-options">
                <div></div>
            </div>
        </div>
    </div>
    <div class="upload-overlay"></div>
    <div class="navigation-bar">
        <div class="container">
            <div class="logo-container">
                <a class="logo" href="#">
                    <img src="/asset/logo-white.svg" alt="logo">
                </a>
            </div>
            <div class="menu-items">
                <div class="item"><a href="#"><span>DIREA</span></a></div>
                <div class="item"><a href="#"><span>Support</span></a></div>
                <div class="item"><a href="#"><span>Resources</span></a></div>
                <div class="item"><a href="#"><span>About</span></a></div>
            </div>
        </div>
    </div>
    <div class="main-site">
        <div class="introduction">
            <div class="brand-title">
                <div class="brand-overlay"></div>
                <div class="title">DICOM READER</div>
                <div class="description">The world famous medical images viewer</div>
                <img class="brand-devices-ipad" src="/asset/ipad.png" alt="devices">
                <img class="brand-devices-macbook" src="/asset/macbook.png" alt="devices">
                <img class="brand-devices-imac" src="/asset/imac.png" alt="devices">
            </div>
            <div class="brand-content">
                With high performance and an intuitive interactive user interface, DiRea is the most widely used DICOM viewer in the world. It is the result of more than 15 years of research and development in digital imaging. It fully supports the DICOM standard for
                an easy integration in your workflow environment and an open platform for development of processing tools. It offers advanced post-processing techniques in 2D and 3D, exclusive innovative technique for 3D and 4D navigation and a complete
                integration with any PACS.
            </div>
            <div class="browser">
                <div class="title">Cross-browser compatibility</div>
                <div class="browsers-container">
                    <img class="logo" src="/asset/chrome.svg" alt="chrome">
                    <img class="logo" src="/asset/mozilla.svg" alt="firefox">
                    <img class="logo" src="/asset/safari.svg" alt="safari">
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="upload-container">
                <div class="title">Try DiRea now</div>
                <div class="upload-button">Upload</div>
                <input id="file_inp" type="file" multiple />
            </div>
            <div class="copyright">2019 © Truong Le</div>
            <div class="slider-overlay"></div>
            <div class="slider">
                <div class="slider-item" style="background-image:url('/asset/slider-4.jpg')">
                </div>
                <div class="slider-item" style="background-image:url('/asset/slider-5.jpg')">
                </div>
                <div class="slider-item" style="background-image:url('/asset/slider-6.jpg')">
                </div>
            </div>
        </div>
    </div>
    <div class="viewer">
        <div class="viewer-container">
            <div class="interact-container">
                <div class="logo">
                    <img src="/asset/logo.svg" alt="logo">
                </div>
                <div class="brand">
                    <div class="title">DIREA</div>
                    <div class="description">DICOM Reader</div>
                </div>
            </div>
            <div class="control-buttons">

            </div>
            <div class="render-container">
                <div id="my-gui-container"></div>
                <a href="# " id="screenshot" download="VJS.png">Take screenshot</a>
                <div class="controller">
                    <div class="switch-view">
                        <span style="font-weight: 500;">3D</span><i class="material-icons">keyboard_arrow_down</i>
                        <div class="dropdown-view">
                            <div class="dimension-option">3D</div>
                            <div class="dimension-option">2D</div>
                        </div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons take-screenshot">camera_alt</i>
                        <div class="function-info">Screenshot</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">flip</i>
                        <div class="function-info">Split view</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">color_lens</i>
                        <div class="function-info">Background color</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">filter_center_focus</i>
                        <div class="function-info">Reset camera</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">crop</i>
                        <div class="function-info">Crop</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">rotate_left</i>
                        <div class="function-info">Rotate camera left 90&deg;</div>
                    </div>
                    <div class="function-button">
                        <i class="material-icons">rotate_right</i>
                        <div class="function-info">Rotate camera right 90&deg;</div>
                    </div>
                    <div class="function-button reset-dimension reset-to-X">
                        <span>X</span>
                        <div class="function-info reset-camera">Reset camera to orientation X</div>
                    </div>
                    <div class="function-button reset-dimension reset-to-Y">
                        <span>Y</span>
                        <div class="function-info reset-camera">Reset camera to orientation Y</div>
                    </div>
                    <div class="function-button reset-dimension reset-to-Z">
                        <span>Z</span>
                        <div class="function-info reset-camera">Reset camera to orientation Z</div>
                    </div>
                </div>
                <div class="files-bar">
                    <div class="tab-container">
                        <div class="tab-title">
                            <button class="tab datasets ripple">Datasets</button>
                            <button class="tab global ripple">Global</button>
                            <div class="line left"></div>
                        </div>
                        <div class="settings">
                            <div class="datasets-setting">
                                <div class="file-interact">
                                    <i class="material-icons visible">visibility</i>
                                    <span class="file-name">vhf1.dcm</span>
                                    <div class="delete-render">Delete</div>
                                </div>
                                <div class="representation setting">
                                    <div class="title">
                                        <i class="material-icons">brightness_medium</i>
                                        <span class="name">Representation</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-title">
                                            Shadow & Edge
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute">Sample Distance</div>
                                            <input type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute">Edge Gradient</div>
                                            <input type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="colors setting">
                                    <div class="title">
                                        <i class="material-icons">color_lens</i>
                                        <span class="name">Colors</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-config">
                                            <div class="texture-min-color">
                                                <span class="color-min-title">Min Color:</span>
                                                <input class="min-color-picker jscolor {onFineChange:'texturebasedUpdateMinColor(this)'} ripple" value="ab2567">
                                            </div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="texture-max-color">
                                                <span class="color-min-title">Max Color:</span>
                                                <input class="max-color-picker jscolor {onFineChange:'texturebasedUpdateMaxColor(this)'} ripple" value="ab2567">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slices setting">
                                    <div class="title">
                                        <i class="material-icons">tune</i>
                                        <span class="name">Slices</span>
                                        <i class="material-icons drop-down rotated">keyboard_arrow_up</i>
                                    </div>
                                    <div class="config opened">
                                        <div class="attribute-title">
                                            Window/Level
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute">Window</div>
                                            <input type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute">Level</div>
                                            <input type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-title">
                                            Slices
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>X</div>
                                            </div>
                                            <input class="slice-change index-x" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>Y</div>
                                            </div>
                                            <input class="slice-change index-y" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                        <div class="attribute-config">
                                            <div class="attribute circle">
                                                <div>Z</div>
                                            </div>
                                            <input class="slice-change index-z" type="range" min="0" max="100" step="1" value="0">
                                            <div class="value">0</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="render-info setting">
                                    <div class="title">
                                        <i class="material-icons">info</i>
                                        <span class="name">Information</span>
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    </div>
                                </div>
                            </div>
                            <div class="global-setting">
                                <div class="representation setting">
                                    <div class="title">
                                        <span class="name">Background</span>
                                    </div>
                                    <div class="color-picker">
                                        <div class="color black" color="35373a"><i class="material-icons">check</i></div>
                                        <div class="color white" color="eff2f7"><i class="material-icons">check</i></div>
                                        <div class="color bordeuax" color="9e0142"><i class="material-icons">check</i></div>
                                        <div class="color red" color="d53e4f"><i class="material-icons">check</i></div>
                                        <div class="color orange" color="f46d43"><i class="material-icons">check</i></div>
                                        <div class="color yellow" color="fee08b"><i class="material-icons">check</i></div>
                                        <div class="color green" color="abdda4"><i class="material-icons">check</i></div>
                                        <div class="color blue" color="3288bd"><i class="material-icons">check</i></div>
                                    </div>
                                </div>
                                <div class="colors setting">
                                    <div class="title">
                                        <span class="name">Overlay</span>
                                    </div>
                                    <div class="opacity">
                                        <div class="opacity-title">
                                            Text Opacity
                                        </div>
                                        <input type="range" min="0" max="100" step="1" value="0">
                                    </div>
                                </div>
                                <div class="slices setting">
                                    <div class="title">
                                        <span class="name">Orientation Axis</span>
                                    </div>
                                </div>
                                <div class="render-info setting">
                                    <div class="title">
                                        <i class="material-icons">info</i>
                                        <span class="name">Information</span>
                                        <i class="material-icons drop-down">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas-container">
                    <div class="lds-hourglass loading-canvas"></div>
                    <div class="rendering-layout "></div>
                    <div id="3d" class="three-dimemsion">
                        <!-- <div class="title ">3D</div> -->
                        <div id="my-lut-container" style="display:none;">
                            <div id="my-lut-min">0.0</div>
                            <div id="my-lut-canvases"></div>
                            <div id="my-lut-max">1.0</div>
                        </div>
                    </div>

                    <div id="sliceX" class="two-dimemsion">
                        <div class="title ">X-axis</div>
                    </div>
                    <div id="sliceY" class="two-dimemsion">
                        <div class="title ">Y-axis</div>
                    </div>
                    <div id="sliceZ" class="two-dimemsion">
                        <div class="title ">Z-axis</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>