@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}


/* Menu Bar */

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #374a61;
    color: white;
    z-index: 99;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

.navigation-bar .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo img {
    width: 45px;
}

.menu-items {
    display: flex;
    height: 100%;
    text-transform: uppercase;
    margin-left: 20px;
}

.item {
    display: flex;
    height: 100%;
}

.item {
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.item:hover {
    color: #374a61;
    background-color: #ffffff;
}

.item:hover a {
    color: #374a61;
}

.item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px;
}

.item a {
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.item a {
    font-size: 20px;
    font-weight: 500;
}


/* Main Site */

.upload-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: rgba(22, 22, 22, .8);
}

.upload-overlay.block {
    display: block;
}

@keyframes upload-entrance {
    0% {
        top: 85%;
        opacity: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    20% {
        opacity: .5;
    }
    30% {
        top: 50%;
        opacity: 1;
        width: 50px;
        height: 50px;
    }
    40% {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    70% {
        border-radius: 10%;
        box-shadow: none;
    }
    100% {
        width: 650px;
        height: 530px;
        border-radius: 0;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

@keyframes upload-exit {
    0% {
        width: 650px;
        height: 530px;
        border-radius: 0;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    20% {
        border-radius: 10%;
        box-shadow: none;
    }
    30% {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    40% {
        top: 50%;
        opacity: 1;
        width: 50px;
        height: 50px;
    }
    70% {
        opacity: .5;
    }
    100% {
        top: 85%;
        opacity: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
}

.upload-area {
    display: none;
    width: 650px;
    /* height: 600px; */
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center center;
    z-index: 100;
    overflow-y: hidden;
    background-color: #fcfcfc;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lds-hourglass.loading-canvas {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity ease-in .4s;
    opacity: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-hourglass.in-files-container {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    transition: opacity ease-in .3s;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.lds-hourglass.block {
    opacity: 1;
}

.lds-hourglass.loading-canvas:after {
    border-color: #FFFFFF transparent #FFFFFF transparent;
}

.slice-mode-layout .lds-hourglass.loading-canvas:after {
    border-color: #2979ff transparent #2979ff transparent;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #374a61 transparent #374a61 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.upload-area.animation {
    animation-name: upload-entrance;
    animation-duration: .8s;
    animation-direction: normal;
}

.upload-area.reversing {
    display: none;
    animation-name: upload-exit;
    animation-duration: .8s;
    animation-direction: normal;
}

.upload-area.block {
    display: block;
}

.files-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.files-container.block {
    display: block;
}

.files-container.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.handle-buttons {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    padding: 25px 0 0;
}

.choose-files {
    width: 48%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #374a61;
    padding: 13px 0;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #374a61;
    transition: all 0.25s ease;
    user-select: none;
    cursor: pointer;
    opacity: 1;
}

.choose-files:hover {
    opacity: .85;
}

.algorithm-choices {
    width: 45%;
    margin-right: 10px;
}

.algorithm-select {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #374a61;
    text-transform: uppercase;
    padding-left: 6px;
    outline: none;
    color: #374a61;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/asset/angle-arrow-down.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
}

.files-list {
    width: 100%;
    position: relative;
}

.files-table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #1ECD97;
    width: 92%;
    margin: 20px auto;
    border-radius: .25rem;
    overflow-y: scroll;
}

.files-table tbody {
    display: block;
    height: 260px;
    overflow-y: scroll;
}

.files-table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.files-table thead tr:first-child {
    background: #1ECD97;
    color: #fff;
    border: none;
}

.files-table th:first-child,
.files-table td:first-child {
    padding: 0 15px 0 20px;
}

.files-table th {
    font-weight: 500;
    padding: 0;
    border-radius: 0;
}

.files-table thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

.files-table tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

.files-table tbody tr:last-child td {
    border: none;
}

.files-table tbody td {
    border-bottom: 1px solid #ddd;
    padding: 0;
    border-radius: 0;
}

.files-table td:last-child {
    text-align: center;
    font-weight: 500;
}

.files-table tbody::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #F5F5F5;
}

.files-table tbody::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.files-table tbody::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #555;
}

.upload-title {
    display: none !important;
}

.rendering-algorithm {
    opacity: 1;
    transition: opacity ease-in 1s;
}

.rendering-algorithm.block {
    opacity: 1;
}

.upload-title {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0 auto;
    height: 70px;
    color: #232222;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.rendering-algorithm {
    width: 92%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.upload-cancel {
    width: 48%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #cecece;
    padding: 13px 0;
    text-transform: uppercase;
    color: #333333;
    background-color: #cecece;
    transition: all 0.25s ease;
    user-select: none;
    cursor: pointer;
    opacity: 1;
}

.upload-cancel:hover {
    opacity: .7;
}

.upload-execute {
    border-radius: 40px;
    background-color: #ffffff;
    padding: 10px 30px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 2px solid #1ECD97;
    color: #1ECD97;
}

.algorithm-button {
    width: 38%;
    background-color: #1ECD97;
    padding: 10px 30px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    border: 2px solid #1ECD97;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
}

.algorithm-button.clickable {
    background-color: #FFFFFF;
    transition: all 0.15s ease-in;
    color: #1ECD97;
}

.button-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-overlay.hidden {
    display: none;
}

.upload-execute:hover,
.algorithm-button:hover {
    color: #ffffff;
    background-color: #1ECD97;
}

.slider-container {
    width: 50%;
    height: 100vh;
    position: relative;
    float: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.copyright {
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 52;
    position: absolute;
    cursor: default;
}

.upload-container {
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.upload-container .title {
    color: #46bd79;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: default;
}

.upload-button {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 40px;
    margin: 10px auto 0;
    cursor: pointer;
    box-sizing: content-box;
}

.upload-button {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.upload-button:hover {
    color: #292c30;
    background-color: #fff;
}

.upload-button {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

#file_inp {
    display: none;
}

.wrong-noti {
    display: none;
    width: fit-content;
    position: absolute;
    left: 49%;
    top: 58%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ea355d;
}

.wrong-noti.block {
    display: block;
}

.slider-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 10;
}

.slider-item {
    width: 100%;
    height: 100vh !important;
    background-size: cover;
}

.introduction {
    width: 50%;
    height: 100vh;
    position: relative;
    float: right;
}

.brand-title {
    position: relative;
    width: 100%;
    height: 50%;
    background-image: url('../asset/medical.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.brand-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

.brand-title .title {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.brand-title .title {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 10;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.brand-title .description {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.brand-title .description {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}

.brand-content {
    position: relative;
    width: 80%;
    margin: 40px auto 40px;
    color: #292c30;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.browser {
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.browser .title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #46bd79;
}

img.brand-devices {
    width: 83%;
    position: absolute;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
}

.browsers-container {
    display: flex;
    justify-content: center;
}

.browsers-container .logo {
    display: flex;
    align-self: center;
    width: 8%;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.viewer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9e9e9e;
    background: -webkit-linear-gradient(#9e9e9e, #607d8b);
    background: -o-linear-gradient(#9e9e9e, #607d8b);
    background: -moz-linear-gradient(#9e9e9e, #607d8b);
    background: linear-gradient(#9e9e9e, #607d8b);
    z-index: 101;
    transition: background ease-in .4s;
}

.viewer.block {
    display: block;
}

.viewer.open {
    top: 0;
    opacity: 1;
}

.viewer-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.control-buttons {
    display: flex;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 30;
}

.control-buttons img {
    width: 30px;
    cursor: pointer;
}

.interact-container {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    user-select: none;
    background-color: #f5f5f5;
    z-index: 20;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.interact-container .logo {
    margin-left: 15px;
}

.interact-container .brand {
    margin-left: 20px;
}

.interact-container .title {
    color: #232428;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 11px;
}

.interact-container .description {
    color: #232428;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.minimize,
.cancel {
    padding: 10px;
}

.re-render {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.re-render>* {
    margin-right: 7px;
}

.re-render .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #2979ff;
}

.re-render .dropdown-content li>span {
    font-size: 16px;
    color: #2979ff;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.mb-switch,
.mb-interactor-disable {
    display: none;
}

.render-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 71px;
    position: relative;
}

.for-slice-mode {
    flex-wrap: wrap;
}

.canvas-container {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.hidden {
    display: none !important;
}

.files-bar {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tab-container {
    width: 100%;
    position: relative;
}

.tab-title {
    width: 100%;
    display: flex;
    position: relative;
}

.tab-title .tab {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #FFF;
}

.tab-title .tab {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.ripple {
    background-position: center;
    transition: background 0.3s;
}

.ripple:hover {
    background: #dbdbdb radial-gradient(circle, transparent 1%, #dbdbdb 1%) center/15000%;
}

.ripple:active {
    background-color: #efefef;
    background-size: 100%;
    transition: background 0s;
}

.line {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 2px;
    left: 0;
    background-color: #627dea;
    transition: all ease .3s;
}

.line.right {
    left: 50%;
}

.settings {
    left: 0;
    position: absolute;
    overflow: auto;
    width: 200%;
    display: flex;
    transition: all ease .3s;
}

.moved {
    left: -100%;
}

.datasets-setting,
.global-setting {
    width: 100%;
    height: 100vh;
}

.datasets-setting {
    overflow-y: scroll;
    height: calc(100vh - 113px);
}

.datasets-setting::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

.datasets-setting::-webkit-scrollbar {
    width: 13px;
}

.datasets-setting::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.file-interact,
.setting .title {
    position: relative;
    padding: 13px 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1.5px solid rgba(0, 0, 0, .12);
    box-shadow: none;
    cursor: pointer;
}

.sliders {
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    border-bottom: 1.5px solid rgba(0, 0, 0, .12);
    box-shadow: none;
    cursor: pointer;
}

.colors .config {
    padding: 10px 0;
}

.drop-down {
    position: absolute;
    font-size: 26px;
    right: 10px;
    transition: all ease-out .21s;
}

.drop-down.rotated {
    transform: rotate(180deg);
}

.visible {
    cursor: pointer;
}

span.algorithm-name,
.setting .name {
    margin-left: 9px;
    font-weight: 500;
}

.attribute-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 24px;
}

.attribute {
    width: 22%;
    font-size: 13px;
    text-align: center;
}

.attribute-config {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.attribute-config>div {
    margin: 0 10px;
}

.circle div {
    display: flex;
    border: 1px solid #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.circle div {
    font-size: 15px;
    font-weight: 500;
}

.value {
    width: 13%;
    text-align: center;
    border-bottom: 1px solid #33353a;
}

.attribute-config input[type="range"],
.opacity input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 40%;
    height: 3px;
    border-radius: 5px;
    outline: 0;
    border: none;
    margin: 0;
}

.attribute-config input[type="range"]::-webkit-slider-thumb,
.opacity input[type="range"]::-webkit-slider-thumb {
    display: block;
    -webkit-appearance: none;
    background-color: #66a6f9;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

.attribute-config input[type="range"]::-webkit-slider-thumb:active,
.opacity input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.4);
}

.attribute-config input[type=range]::-moz-range-thumb,
.opacity input[type=range]::-moz-range-thumb {
    display: block;
    -webkit-appearance: none;
    background-color: #66a6f9;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

.attribute-config input[type="range"]::-moz-range-thumb:active,
.opacity input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.4);
}

.attribute-config input[type=range]:-moz-focusring,
.opacity input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

.attribute-config input[type=range]:focus::-moz-range-track,
.opacity input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.button-container {
    /* display: flex; */
    display: none;
    position: absolute;
    right: 20px;
}

.slice-list:hover,
.delete-render:hover {
    opacity: .85;
}

.delete-render,
.slice-list {
    font-size: 15px;
    letter-spacing: 1px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #4f5256;
    color: #ecf0f1;
    transition: all ease .3s;
    cursor: pointer;
    padding: 5px 7px;
    opacity: 1;
    margin-right: 5px;
}

.list-files {
    overflow-x: hidden;
}

.list-files .title {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px 30px;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}

.list-files .title {
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: #FAFAFA;
}

.list-files::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

.list-files::-webkit-scrollbar {
    width: 13px;
}

.list-files::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.list-files::-webkit-scrollbar-button {
    display: none;
}

.viewer .modal.modal-fixed-footer .modal-footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    padding: 0;
}

.viewer .modal.modal-fixed-footer .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    box-sizing: border-box;
}

.viewer .modal.modal-fixed-footer .modal-footer {
    background-color: #6da5ef;
    color: #FFF;
}

.viewer .modal-content.fixed-width {
    width: auto !important;
}

.loaded-slices {
    margin: 50px 0;
    height: 100%;
}

.slice-amount {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.render-info .content {
    padding: 20px 25px;
}

.color-picker {
    display: flex;
    padding: 15px 15px;
    flex-wrap: wrap;
}

.color {
    width: 45px;
    height: 25px;
    margin: 0 10px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    background-color: red;
    cursor: pointer;
    border: 0.5px solid transparent;
    transition: border ease .3s;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color i {
    opacity: 0;
    color: #26d67e;
    transition: opacity ease .3s;
}

.color i.block {
    opacity: 1;
}

.color:hover {
    border: 0.5px solid #333;
}

.original {
    background: #9e9e9e;
    background: -webkit-linear-gradient(#9e9e9e, #607d8b);
    background: -o-linear-gradient(#9e9e9e, #607d8b);
    background: -moz-linear-gradient(#9e9e9e, #607d8b);
    background: linear-gradient(#9e9e9e, #607d8b);
}

.moonlit-asteroid {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.grade-grey {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.red-sunset {
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

.lawrencium {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.celestial {
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
}

.royal {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.frost {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

.titanium {
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
}

.opacity {
    display: flex;
    padding: 20px 25px;
    align-items: center;
}

.opacity .opacity-title {
    width: 30%;
    font-size: 13px;
    text-align: center;
}

.opacity input {
    width: 60% !important;
}

.texture-min-color,
.texture-max-color {
    display: flex;
    align-items: center;
}

.min-color-picker,
.max-color-picker {
    padding: 10px 16px;
    font-weight: 500;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.1s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.texture-min-color span,
.texture-max-color span {
    width: 22%;
    font-size: 13px;
    text-align: center;
    margin-right: 8px;
}

.texture-min-color .jscolor,
.texture-max-color .jscolor {
    width: 36%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.marching-cube-setting.hidden {
    display: none;
}

.vtk-color {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px 0;
}

.vtk-color a {
    margin-top: 10px;
}

.marching-cube-setting .jscolor {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    border: none;
    outline: none;
}

.ray-setting.hidden {
    display: none;
}

.ray-config {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ray-config [type="checkbox"].filled-in:checked+span:not(.lever):before {
    width: 7px;
    height: 12px;
}

.ray-config [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #66a6f9;
    background-color: #66a6f9;
}

.ray-lut.input-field.col label,
.ray-algorithm.input-field.col label,
.ray-opacity.input-field.col label {
    left: 0;
}

.ray-algorithm,
.ray-lut,
.ray-opacity {
    width: 70%;
}

.texture-setting {
    margin-top: 15px;
}

.texture-setting.hidden {
    display: none;
}

.texturebased-algorithm.input-field.col label {
    left: 0;
}

.controller {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 90px;
    right: 15px;
    z-index: 10;
    background-color: #FFFFFF;
    padding: 7px 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.controller .function-button {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 100%;
    background: #FFFFFF;
    transition: all ease .3s;
    overflow: hidden;
}

.controller .function-button:hover {
    overflow: unset;
    background: #dbdbdb radial-gradient(circle, transparent 1%, #dbdbdb 1%) center/15000%;
}

.controller .function-button i {
    font-size: 25px;
    padding: 4px;
}

.function-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    font-size: 18px;
}

.function-button:hover .function-info {
    opacity: 1;
    top: -50px;
}

.function-info {
    opacity: 0;
    cursor: default;
    position: absolute;
    top: -40px;
    left: 50%;
    font-size: 15px;
    color: #FFFFFF;
    white-space: nowrap;
    background-color: #333333;
    padding: 5px 10px;
    border-radius: 4px;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all ease .2s;
}

.function-info::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #333333;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.function-info.reset-camera {
    left: unset;
    right: -5px;
    transform: none;
}

.function-info.reset-camera::before {
    left: 90%;
}

.switch-view {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 4px 0 4px 6px;
    border: 1.5px solid #333333;
    cursor: pointer;
    margin: 0 4px 0 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.switch-view i {
    transition: all ease .2s;
}

.switch-view .rotated {
    transform: rotate(180deg);
}

.dropdown-view {
    position: absolute;
    background-color: #FFFFFF;
    top: -73px;
    left: 18px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    opacity: 0;
    transition: all ease .3s;
}

.dropdown-view.block {
    top: -85px;
    opacity: 1;
}

.dropdown-view:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFFFFF;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.dropdown-view div {
    padding: 5px 16px;
    cursor: pointer;
    transition: all ease .1s;
    color: #333333;
    background-color: #FFFFFF;
}

.dropdown-view div:hover {
    color: #FFFFFF;
    background-color: #46bd79;
}

.three-dimemsion {
    position: relative;
    outline: 1.5px solid #FFF;
    width: 50%;
    height: 50%;
}

.three-dimemsion .title {
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    top: 4px;
    left: 4px;
}

.rendering-layout {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 0;
    opacity: .4;
    transition: opacity ease 0.3s;
}

.two-dimemsion-container {
    display: flex;
    float: left;
    width: calc(81% - 1px);
    height: calc(40% - 1px);
}

.rendering-layout.fade-out {
    opacity: 0;
}

.rendering-layout.fade-out.hidden {
    display: none;
}

.two-dimemsion {
    position: relative;
    outline: 1.5px solid #FFF;
    width: 50%;
    height: 50%;
}

.two-dimemsion .title {
    position: absolute;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    top: 4px;
    left: 4px;
}

.two-dimemsion:last-child {
    border-right: none;
}

.dg.main {
    position: absolute;
    right: 0;
}

.slice-mode-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.slice-slider {
    width: 100%;
    height: 65%;
    overflow: hidden;
    background-color: #000;
}

.slice-slider-nav-container {
    width: 100%;
    height: 30%;
    margin: 0 auto 0px;
    position: relative;
}

.slice-slider-nav {
    width: 100%;
    height: 100%;
    padding: 0 35px;
    position: relative;
    background-color: #000;
    border-top: 3px solid #fff;
}

.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: #FFFFFF;
    font-size: 45px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.slider-control.left {
    left: 0;
}

.slider-control.right {
    right: 0;
}

.slick-arrow {
    display: none !important;
}

.slice-slider-nav .slick-dots {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.slice-slider-nav .slick-dots li button {
    border-radius: 100%;
}

.sidenav-trigger {
    position: absolute;
    right: 20px;
    top: 85px;
    z-index: 20;
}

.sliders>div {
    float: none;
    line-height: 37px;
}

.subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 5px 20px;
}

.slice-apply {
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    margin: 5px 20px;
}

.slider-option,
.slider-nav-option {
    padding: 0 20px;
}

.slice-mode-other {
    padding: 0 20px;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2979ff !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #90caf9 !important;
}

input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    background-color: rgba(68, 138, 255, 0.4);
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #2979ff;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #2979ff;
}

.canvas-2d {
    width: 400px;
    height: 400px;
    margin: 5px;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.canvas-2d-nav {
    width: 150px;
    height: 150px;
    margin: 5px;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.file {
    width: calc(10% - 3px);
    height: 0px;
    padding-bottom: 9%;
    margin: 5px;
    border: 1px solid #333333;
    float: left;
    position: relative;
    overflow: hidden;
}

.file canvas {
    transition: all ease .2s;
}

.file canvas:hover {
    transform: scale(1.3);
}

.slice-number {
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    left: 2px;
    top: 1px;
    z-index: 10;
}


/* TEST */

#stats {
    position: absolute;
    top: 0;
    left: 0;
}

.statistics {
    position: absolute !important;
    top: unset !important;
    left: 5px !important;
    bottom: 5px !important;
    z-index: 1000 !important;
}

#my-gui-container input[type=text]:not(.browser-default) {
    height: auto;
}

#my-gui-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#my-gui-container select {
    display: block;
}

#my-colortable-container {
    top: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: #f9f9f9;
    display: flex;
}

#my-colortable-container>#my-colortable-canvases {
    position: relative;
}

#my-colortable-min {
    margin-right: 10px;
}

#my-colortable-max {
    margin-left: 10px;
}

#my-colortable-container>#my-colortable-canvases> :first-child {
    background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-colortable-container>#my-colortable-canvases> :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

#my-opacitytable-container {
    top: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: #f9f9f9;
    display: flex;
}

#my-opacitytable-container>#my-opacitytable-canvases {
    position: relative;
}

#my-opacitytable-min {
    margin-right: 10px;
}

#my-opacitytable-max {
    margin-left: 10px;
}

#my-opacitytable-container>#my-opacitytable-canvases> :first-child {
    background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-opacitytable-container>#my-opacitytable-canvases> :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

#my-lut-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    color: #f9f9f9;
    display: flex;
}

#my-lut-container>#my-lut-canvases {
    position: relative;
}

#my-lut-min {
    margin-right: 10px;
}

#my-lut-max {
    margin-left: 10px;
}

#my-lut-container>#my-lut-canvases> :first-child {
    background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container>#my-lut-canvases> :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

#screenshot {
    display: none !important;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 1;
    color: #212121;
    display: flex;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: #dedede;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1366px) {
    img.brand-devices {
        bottom: -90px;
    }
}

.slick-prev,
.slick-next {
    display: none;
}

.modal.temp-block {
    display: block;
    visibility: hidden;
}

.dicom-canvas {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
}

.dicom-extraction {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
    background-color: #FFF;
}

.my-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider-upper {
    width: 100%;
    height: 60%;
    background-color: gray;
}

.slider-below {
    width: 100%;
    height: 40%;
    background-color: #513e3e;
}

.my_row {
    margin-left: 0;
    margin-right: 0;
}